<main>
  <h1 class="lg-heading">
    About
    <span class="secondary-text">Me</span>
  </h1>
  <h2 class="sm-heading">
    Let me tell you a few things...
  </h2>
  <div class="about-info">
    <img src="../../assets/images/mikobiscante_portrait.jpg" alt="John Doe" class="bio-image">

    <div class="bio">
      <h3 class="secondary-text">BIO</h3>
      <p>Stop being afraid of what could go wrong and start being positive about what could go right. Lorem ipsum
        dolor, sit
        amet consectetur adipisicing elit. Deserunt magni nam nisi quae vitae? Quod molestiae ipsa autem natus eum vel
        ducimus nulla harum voluptatem eligendi! Unde, reiciendis? Praesentium, laborum.</p>
    </div>

    <div class="job job-1">
      <h3 class="mb-3">TSS / TORO</h3>
      <small>Front End Developer</small>
      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates perferendis totam enim. Nesciunt porro
        dolores
        expedita dolor necessitatibus deserunt nemo.</p>
    </div>

    <div class="job job-2">
      <h3 class="mb-3">VSS IT Development</h3>
      <small>Full Stack Developer | Graphic Designer</small>
      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates perferendis totam enim. Nesciunt porro
        dolores
        expedita dolor necessitatibus deserunt nemo.</p>
    </div>

    <div class="job job-3">
      <h3 class="mb-3">Accenture</h3>
      <small>Software Engineer</small>
      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates perferendis totam enim. Nesciunt porro
        dolores
        expedita dolor necessitatibus deserunt nemo.</p>
    </div>
  </div>
</main>