<main>
  <h1 class="lg-heading">
    About
    <span class="secondary-text">Me</span>
  </h1>
  <h2 class="sm-heading">
    Let me tell you a few things...
  </h2>
  <div class="about-info">
    <img src="../../assets/images/mikobiscante_portrait.jpg" alt="John Doe" class="bio-image">

    <div class="bio">
      <h3 class="secondary-text">BIO</h3>
      <p>Versatile Front End Developer with 4+ years of experience designing, developing, and managing complex web
        applications, e-commerce sites and internal frameworks. </p>
    </div>

    <div class="job job-1">
      <h3 class="mb-3">TSS / TORO</h3>
      <small>Front End Developer</small>
      <p class="mt-3">
        My job was to turn mockup designs into webpages, maintain the company website, create and design reusable UI
        component that can be used to integrate with API, and I was assigned to be the OJT’s Supervisor for Front End.
      </p>
      <p>Agile & Scrum Development</p>
    </div>

    <div class="job job-2">
      <h3 class="mb-3">VSS IT Development</h3>
      <small>Full Stack Developer | Graphic Designer</small>
      <p class="mt-3">
        My job was to design and develop UI webpages which can be viewed in any devices, integrate API into UI webpages,
        review codes, and create and develop API.</p>
      <p>Agile & Scrum Development</p>
    </div>

    <div class="job job-3">
      <h3 class="mb-3">Accenture</h3>
      <small>Software Engineer</small>
      <p class="mt-3">My Specialty is Front End Development</p>
      <p>My role was Application Development Senior Analyst, Level 10, in the Software talent segment.</p>
      <p>My career track was Client Delivery & Operations.</p>
    </div>
  </div>
</main>
