<main id="contact">
  <h1 class="lg-heading">
    Contact
    <span class="secondary-text">Me</span>
  </h1>
  <h2 class="sm-heading">
    This is how you can reach me...
  </h2>
  <div class="boxes">
    <div>
      <span class="secondary-text">Email: </span> michael.biscante@gmail.com
    </div>
    <div>
      <span class="secondary-text">Mobile Phone: </span> +639260560147
    </div>
    <!-- <div>
        <span class="secondary-text">Address: </span> 912 E. Pantaleon, Barangka Itaas, Mandaluyong City, Metro Manila, Philippines
      </div> -->
  </div>
</main>
