<main>
  <h1 class="lg-heading">
    Miko
    <span class="secondary-text">Biscante</span>
  </h1>
  <h2 class="sm-heading">
    Front-end Web Developer, Programmer, UI/UX Designer & MEAN Developer
  </h2>
  <div class="icons">
    <a href="https://www.facebook.com/mikobiscante">
      <i class="fab fa-facebook fa-2x"></i>
    </a>
    <a href="https://www.instagram.com/mikobiscante/">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a href="https://twitter.com/mikobiscante">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/mikobiscante/">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <!-- <a href="#!">
      <i class="fab fa-github fa-2x"></i>
    </a> -->
  </div>
</main>