@import "theme";
@import "config";
@import "menu";


h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem !important;
  }

  &.sm-heading {
    font-size: 1.2rem !important;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 4rem;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  & {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

.secondary-text {
  color: $secondary-color;
}
